:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 5px;
}

.container-greed {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main aside"
    "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1.2fr;
  grid-gap: 1em;

}

#header {
  padding: 10px;
  grid-area: header;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  text-align: center;
  background-color: #f4f6f9;
}

#main {
  display: grid;
  grid-template-areas:
    "left center right";
  grid-area: main;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  position: relative;
  box-sizing: border-box;
  background-color: #f4f6f9;

}

#footer {
  grid-area: footer;
  padding: 20px;
  background-color: brown;
}

#left {
  grid-area: left;
  align-content: space-between;
}

img {
  max-width: 100%;

  height: auto;
  padding: .5em;
  border-radius: 12px;
}

.padding-m {
  padding: 15px 15px 0px 7px;

}

#center {
  grid-area: center;
}

#right {
  grid-area: right;
}

.logo {
  padding: 0;
  width: 100px;
}

.logo img {
  width: 100px;
}

h1 {
  margin: 0;
  font-family: var(--primary-font);
}

#header p {
  font-family: var(--primary-font);
  font-size: 14px;
}

#aside img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}



#aside {
  position: sticky;
  max-width: 355px;
  top: 0;
  text-align: center;
  font-family: var(--secondary-font);
  line-height: 2em;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: #f4f6f9;
  height: fit-content;
  padding: 20px 10px;
}

.social i {

  color: #000;
}



.fa-2x {
  font-size: 1em;
}

#footer {
  text-align: center;
  font-family: var(--primary-font);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: #f4f6f9;
}

@media (max-width: 1289px) {

  .left1 {
    width: 90%;
  }

  #center img {
    width: 90%;
  }

  #right img {
    width: 90%;
  }

  #main {
    height: fit-content;
  }

  #aside {
    font-size: .8rem;
  }

  #header {
    font-size: .8rem;
  }

  #footer {
    font-size: .8rem;
  }


}

@media (max-width: 751px) {
  #aside {
    font-size: .5rem;

  }

  #footer {
    font-size: .5rem;
  }

  #header {
    font-size: .5rem;
  }
}

@media (max-width: 751px) {
  .container-greed {
    display: grid;
    grid-template-areas:
      "header"
      "main "
      "aside"
      "footer";
    grid-template-columns: 1fr;
  }

  #aside {
    font-size: 1rem;
  }

}